#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 60px;
  height: 60px;
  position: relative;
}

.black {
  background-color: #965223;
}

.white {
  background-color: #D9A55E;
}

.selected {
  background-color: #747934;
}

.available {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #427934;
}

.attacked {
  background-color: #c44e47;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title h3 {
  display: inline;
}

.title button {
  margin-left: 25px;
}

.main {
  display: flex;
}

.lost {
  height: calc(50vh - 60px);
  /* padding: 30px; */
  margin-left: 50px;
}